<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Media Metadata Content Fragment</title>
</head>
<body>

<div th:fragment="metadata-title-html" class="mb-5">
    <div class="flex items-center mb-1">
        <h3 class="main-title text-xl font-semibold">Video title number one</h3>
        <button th:replace="upload/edit-name-section :: editButton('editTitleBtn')"></button>
    </div>
    <div th:replace="upload/edit-name-section :: edit-title-area-html"></div>
</div>


<div th:fragment="metadata-universe-html" class="flex items-center mt-5 pb-3 border-b border-gray-700">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-2 text-cyan-400 inline-block align-text-bottom">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21v-4.5m0 0H3.328a9.004 9.004 0 0 1 7.85-4.887M12 16.5V9a2.25 2.25 0 0 0-2.25-2.25V4.5m2.25 12V19.5" />
    </svg>
    <div class="universes-info-container">
        <a href="#" class="universe-info hidden text-gray-300 font-semibold hover:text-cyan-400 transition">
            Celestial / Cityscape
        </a>
    </div>
    <button th:replace="upload/edit-name-section :: editButton('editUniverseBtn')"></button>
</div>


<div th:fragment="metadata-author-html" class="flex items-center mt-3 mb-5 pb-3 border-b border-gray-700">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-2 text-indigo-400 inline-block align-text-bottom">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.58-7.499-1.632Z" />
    </svg>
    <div class="authors-info-container ">
        <a href="#" class="author-info hidden mr-3 text-gray-300 font-semibold hover:text-indigo-400 transition">
            Jane Doe
        </a>
    </div>
    <button th:replace="upload/edit-name-section :: editButton('editAuthorBtn')"></button>
</div>


<div th:fragment="metadata-character-html" class="flex items-center mb-3">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-5 h-5 mr-2 inline-block align-text-bottom" stroke="white">
        <path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5s-3 1.34-3 3 1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V20h14v-3.5C15 14.17 10.33 13 8 13zm8 0c-.29 0-.62.02-.97.05C16.48 13.6 19 14.86 19 16.5V20h4v-3.5c0-2.33-4.67-3.5-7-3.5z"/>
    </svg>
    <div class="characters-info-container">
        <a href="#" class="character-info hidden mr-3 text-gray-300 font-semibold hover:text-cyan-400 transition">
            John Doe
        </a>
    </div>
    <button th:replace="upload/edit-name-section :: editButton('editCharacterBtn')"></button>
</div>


<div th:fragment="metadata-tag-html">
    <span class="text-sm font-bold uppercase text-gray-500 mr-3">Tags:</span>
    <div class="tags-info-container inline-flex flex-wrap gap-2 mb-2">
        <a href="#" class="tag-info hidden text-xs font-medium px-3 py-1 rounded-full bg-gray-700 text-gray-300 hover:bg-indigo-600 hover:text-white transition cursor-pointer">
            #Astrophotography
        </a>
    </div>
    <button th:replace="upload/edit-name-section :: editButton('editTagBtn')"></button>
</div>

</body>
</html>