<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overlay Template Fragment</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>


<!-- Full Page Overlay -->
<div th:fragment="overlay-html" id="quickViewOverlay"
     class="fixed inset-0 z-50 bg-gray-950/50 text-gray-100 border border-gray-800/50 flex flex-col transition-all duration-300">

    <!-- Fixed Top Bar -->
    <div class="fixed top-0 left-0 w-full z-20 bg-gray-900/90 backdrop-blur-md border-b border-gray-800 flex items-center justify-between px-6 py-4">
        <h2 class="quick-view-title text-lg font-semibold tracking-wide">Quick View</h2>
        <button id="closeOverlayBtn"
                class="text-gray-400 hover:text-gray-200 transition">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke-width="2" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>

    <!-- Scrollable Content Area -->
    <div id="overlayContent" class="flex-1 overflow-y-auto pt-[72px] pb-10 flex justify-center">
        <div class="overlayContent-inner-wrapper relative bg-gray-900/90 rounded-lg shadow-xl w-[90%] max-w-5xl mt-6 mb-16 animate-slideIn self-start"
             onclick="event.stopPropagation();">

        </div>
    </div>
</div>

<script type="module" th:src="@{/static/js/overlay.js}" src="/static/js/overlay.js"></script>

</body>
</html>