<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SS Album Grouper Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body class="bg-gray-900 text-gray-100 min-h-screen pt-6" th:data-main-container-id="${mainGrouperContainerId}">

<div class="px-4">
    <header th:replace="~{header :: header-html}"></header>
</div>

<main th:id="${mainGrouperContainerId}" class="max-w-4xl mx-auto px-4 py-8">
    <div class="px-4 py-4 sm:px-0">

        <div th:replace="~{metadata-content :: metadata-title-html('font-extrabold text-4xl tracking-tight text-white')}"></div>

        <div class="mt-2 text-lg">
            <div th:replace="~{metadata-content :: metadata-author-html('')}"></div>

            <div class="mt-3 mb-5 pb-3 border-b border-gray-700"></div>

            <div th:replace="~{metadata-content :: metadata-universe-html('')}"></div>
        </div>

        <div class="border-t border-gray-700 mt-4"></div>

        <div class="mt-3"></div>
        <div th:replace="~{metadata-content :: metadata-character-html}"></div>

        <div th:replace="~{upload/edit-name-section :: edit-name-area-html}"></div>
    </div>

    <section id="thumbnailSection">
        <!-- MAIN IMAGE (Narrower Width) -->
        <article class="horizontal-item hidden bg-gray-800 flex flex-col border border-gray-900 mt-6">
            <div class="thumbnail-container relative w-full max-w-2xl mx-auto aspect-[16/9] bg-gray-700 overflow-hidden rounded-lg">
                <div class="image-container">
                    <img src="" alt="Main Comic Image"
                         class="thumbnail-image w-full h-full object-contain" />
                    <span class="length-note absolute bottom-1 left-1 bg-black/70 text-gray-200 text-[11px] px-1 py-[1px] rounded">
                    68
                </span>
                    <span class="resolution-note absolute bottom-1 right-1 bg-black/70 text-gray-200 text-[11px] px-1 py-[1px] rounded">
                    1280×720
                </span>
                </div>
            </div>
        </article>

        <!-- Vertical -->
        <article class="vertical-item hidden bg-gray-800 flex flex-col border border-gray-900 row-span-2">
            <div class="thumbnail-container relative w-full max-w-sm mx-auto aspect-[2/3] bg-gray-700 overflow-hidden flex justify-center items-center">
                <div class="image-container">
                    <img src="" alt="Vertical"
                         class="thumbnail-image w-full h-full object-contain" />
                    <span class="length-note absolute bottom-1 left-1 bg-black/70 text-gray-200 text-[11px] px-1 py-[1px] rounded">
                    83
                </span>
                    <span class="resolution-note absolute bottom-1 right-1 bg-black/70 text-gray-200 text-[11px] px-1 py-[1px] rounded">
                    1440×2560
                </span>
                </div>
            </div>
        </article>
    </section>


    <div class="mt-4"></div>
    <div th:replace="~{metadata-content :: metadata-tag-html}"></div>

    <!-- LIST SECTION -->
    <section id="listSection" class="mt-10 min-h-[700px]">
        <div class="mb-4 flex">
            <h2 class="list-title text-2xl font-bold text-gray-200">List (0)</h2>
            <th:block th:if="${modifyAllow}">
                <button th:replace="~{upload/edit-name-section :: editButton('edit-album-grouper-btn')}"></button>
            </th:block>
        </div>

        <th:block th:if="${modifyAllow}">
            <div id="grouper-upload-container" class="hidden mb-4 space-y-2">
                <div class="flex flex-col space-y-2">
                    <label for="folder-input" class="font-medium text-gray-300">Album Upload:</label>
                    <input id="folder-input"
                           type="file"
                           webkitdirectory
                           directory
                           class="block w-full border border-gray-700 rounded-lg p-2 text-sm bg-gray-900 text-gray-200 focus:outline-none focus:border-blue-500">
                </div>
                <!-- Saving Path -->
                <div class="flex flex-col space-y-2">
                    <label for="saving-path-input" class="font-medium text-gray-300">Saving Path:</label>
                    <input id="saving-path-input"
                           type="text"
                           autocomplete="off"
                           class="block w-full border border-gray-700 rounded-lg p-2 text-sm bg-gray-900 text-gray-200 placeholder-gray-500 focus:outline-none focus:border-blue-500"
                           placeholder="/storage/path/">
                </div>
                <button id="submit-btn"
                        type="submit"
                        class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 rounded-lg shadow">
                    Submit
                </button>

                <div>
                    <h3 class="mb-2">Files will be added as album:</h3>
                    <div id="file-list-container"
                         class="flex flex-col gap-2 bg-gray-800 p-3 rounded-lg border border-gray-700 max-h-80 overflow-y-auto scrollbar-thin scrollbar-thumb-gray-600 scrollbar-track-gray-800">
                        <div class="file-item hidden flex items-center justify-between bg-gray-700/40 px-2 py-1 rounded">
                            <span class="file-path text-gray-300">File 2</span>
                            <button class="remove-btn text-red-400 hover:text-red-300">❌</button>
                        </div>
                    </div>
                </div>

                <!-- Error Message -->
                <div id="error-message-container"
                     class="hidden max-h-200 overflow-y-auto scrollbar-thin scrollbar-thumb-red-600 flex flex-col bg-red-900 border border-red-700 text-red-300 p-3 rounded-lg">
                    <span>Error something</span>
                </div>
            </div> <!-- End of Grouper Upload Container -->

            <div class="flex gap-2">
                <span>Sorted: </span>
                <button id="sortOrderButton"
                        class="hidden select-none mb-2 px-3 py-1.5 text-sm rounded-md bg-gray-800 border border-gray-700 text-gray-300 hover:bg-indigo-700 hover:border-purple-400 hover:text-white transition flex items-center space-x-2">
                    Descending
                </button>
            </div>
        </th:block>

        <!-- Scrollable list -->
        <div class="list-scroll-container max-h-96 overflow-y-auto pr-2 space-y-3">
            <a href="#" class="list-item-node hidden bg-gray-800 hover:bg-gray-700 border border-gray-700 px-4 py-3 rounded-lg transition flex justify-between items-center font-semibold text-gray-100">Chapter 1: Awakening</a>
        </div>

        <!-- Show more button -->
        <div class="mt-4 flex justify-center">
            <button class="show-more-btn hidden bg-indigo-600 hover:bg-indigo-500 text-white font-semibold px-4 py-2 rounded-md transition">
                Show More
            </button>
        </div>
    </section>
</main>


<!-- Full Page Overlay -->
<div th:replace="~{overlay :: overlay-html}">
</div>

<script type="module" th:src="@{/static/js/album-grouper/album-grouper-page.js}" src="/static/js/album-grouper/album-grouper-page.js"></script>

<th:block th:if="${modifyAllow}">
    <script type="module" src="/static/js/upload/modify-media-metadata.js"></script>
    <script type="module" th:src="@{/static/js/upload/upload-album-grouper.js}" src="/static/js/upload/upload-album-grouper.js"></script>
</th:block>

</body>
</html>
