<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>SS Media Upload</title>
</head>
<body>

<div>
    <label for="upload-type-select">Select Upload Type:</label>
    <select id="upload-type-select" class="">
        <option value="VIDEO">Video</option>
        <option value="ALBUM">Album</option>
        <option value="GROUPER">Grouper</option>
    </select>
</div>

<div id="single-file-container">
    <label for="single-file-input">Video Upload:</label>
    <input id="single-file-input" type="file" accept=".mp4, .mp3, .mov, video/mp4, audio/mpeg"/>
</div>

<div id="folder-container" class="hidden">
    <label for="folder-input">Album Upload:</label>
    <input id="folder-input" type="file" webkitdirectory directory />
</div>

<div id="grouper-container" class="hidden">
    <label for="grouper-input">Grouper Thumbnail Upload:</label>
    <input id="grouper-input" type="file" multiple accept=".jpeg, .jpg, .png, .webp, image/jpeg, image/png, image/webp" />
</div>

<div id="saving-path-container">
    <label for="saving-path-input">Saving Path:</label>
    <input id="saving-path-input" type="text">
</div>

<div>
    <label for="title-input">Title:</label>
    <input id="title-input" type="text" placeholder="Title..." />
</div>

<div>
    <label for="year-input">Year:</label>
    <input id="year-input" type="number" value="2025" min="1900" max="2025" placeholder="Year..." />
</div>

<button id="submit-btn" type="submit">Submit</button>

<div id="error-message-container" class="hidden flex flex-col">
    <span>Error something</span>
</div>


<script type="module" src="/static/js/upload/media-upload.js"></script>

</body>
</html>